:root {
    --white: #ffffff;
    --blue-50: #e0fbfc;
    --blue-100: #c2dfe3;
    --blue-150: #9db4c0;
    --grey-50: #5c6b73;
    --grey-100: #253237;
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}


a {
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
}

.background {
    margin: 0;
}

.container {
    background-color: var(--blue-100);
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dropdown_text {
    color: var(--white);
    margin-left: 10px;
}

.dropdown_input {
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: var(--grey-50);
    color: var(--white);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 25px;
    padding-left: 5px;
    width: 89%;
    transition: background-color 0.5s ease;
}

.dropdown_input:focus {
    background-color: var(--blue-100);
    color: var(--grey-100);
}

.dropdown_buttons {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: var(--blue-100);
    color: var(--grey-100);
}

#icon {
    border: none;
    background-color: var(--blue-150);
    color: var(--white);
    font-size: 7px;
    height: 15px;
    width: 50px;
    margin-right: 40px;
    margin-top: 10px;
}

.add_in_cart
{
    height: 15px;
    width: 30px;
    margin-left: 60px;
    background-color: var(--blue-150);
} 

.middle_square {
    background-color: var(--grey-50);
    height: 100%;
    width: 75%;
}

.response_text {
    color: var(--grey-100);
    font-size: 14px;
    padding-left: 10px;
}

.header_text {
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}

.user_content_wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.user_picture {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 209px;
    height: 209px;
}

.user_picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user_picture_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.user_picture_overlay:hover {
    opacity: 1;
}

.user_picture_overlay_text {
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
}

.user_picture:hover .user_picture_overlay {
    display: flex;
}

.user_top_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.user_data {
    display: flex;
    flex-direction: column;
}


.user_data_fields {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    padding-right: 1em;
}

.user_data_wrappers {
    display: flex;
    flex-direction: row;
}

.user_data_text {
    color: var(--blue-100);
    margin-bottom: 10px;
}

.user_data_input {
    border: none;
    border-bottom: 1px solid var(--blue-100);
    outline: none;
    background-color: transparent;
    color: var(--white);
    padding-left: 5px;
    height: 20px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 150px;
}

.user_buttons {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.user_data_buttons {
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: var(--blue-150);
    color: var(--white);
    cursor: pointer;
}

#header {
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--blue-150);
}

#header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

#header_menu {
    display: none;
}

#icon {
    font-size: 30px;
}

#header_paper {
    font-weight: bold;
    color: var(--grey-100);
}

#header_solutions {
    font-weight: lighter;
    color: var(--white);
}

#header_searchbar {
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: var(--grey-50);
    color: var(--white);
    font-size: 20px;
    height: 35px;
    width: 500px;
    padding: 10px;
    transition: background-color 0.5s ease;
}

#header_searchbar::placeholder {
    color: var(--white);
}

#header_searchbar:focus::placeholder {
    color: var(--grey-100);
}

#header_searchbar:focus {
    background-color: var(--blue-100);
    color: var(--grey-100);
}

#header_searchbar::-webkit-search-cancel-button {
    color: var(--grey-100)
}

#header_searchbar::-ms-clear {
    color: var(--grey-100)
}

#header_logout_button {
    padding-right: 10px;
}

#header_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#header_user {
    width: 32px;
    height: 32px;
    background-color: #9db4c0;
}

#header_cart {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #9db4c0;
}

#header_admin {
    width: 32px;
    height: 32px;
    background-color: #9db4c0;
}

#header_search {
    display: none
}

#login_form {
    display: none;
    position: fixed;
    margin: 70px;
    right: 0;
    top: 0;
    background-color: var(--blue-150);
    padding: 10px;
    z-index: 1;
    flex-direction: column;
}

#register_form {
    display: none;
    position: fixed;
    margin: 70px;
    right: 0;
    top: 0;
    background-color: var(--blue-150);
    padding: 10px;
    z-index: 1;
    flex-direction: column;
}

/* Phones */
@media (max-width: 768px) {
    #header_menu {
        display: block;
        width: 32px;
        height: 32px;
    }

    #header_searchbar {
        display: none;
    }

    #header_user {
        display: none;
    }

    #header_cart {
        display: none;
    }

    #header_admin {
        display: none;
    }

    #header_search {
        display: block;
        width: 32px;
        height: 32px;
    }

    .middle_square {
        width: 100%;
    }

}

@media (max-width: 1024px) {
    #header_searchbar {
        width: 300px;
    }

}