:root {
    --white: #ffffff;
    --blue-50: #e0fbfc;
    --blue-100: #c2dfe3;
    --blue-150: #9db4c0;
    --grey-50: #5c6b73;
    --grey-100: #253237;
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--grey-50);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--grey-100);
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.bigger_bg {
    height: 100%;
}

.smaller_bg {
    height: 100vh;
}

.container {
    background-color: var(--blue-100);
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.middle_square {
    background-color: var(--grey-50);
    height: 100%;
    width: 75%;
}

.dropdown_text {
    color: var(--white);
    margin-left: 10px;
}

.dropdown_input {
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: var(--grey-50);
    color: var(--white);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 25px;
    padding-left: 5px;
    width: 89%;
    transition: background-color 0.5s ease;
}

.dropdown_input:focus {
    background-color: var(--blue-100);
    color: var(--grey-100);
}

.dropdown_buttons {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: var(--blue-100);
    color: var(--grey-100);
    cursor: pointer;
}

.add_in_cart {
    height: 15px;
    width: 30px;
    margin-left: 60px;
    background-color: var(--blue-150);
}

.response_text {
    color: var(--grey-100);
    font-size: 14px;
    padding-left: 10px;
}

.header_text {
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}

.user_content_wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.user_picture {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 209px;
    height: 209px;
}

.user_picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user_picture_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.user_picture_overlay:hover {
    opacity: 1;
}

.user_picture_overlay_text {
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
}

.user_picture:hover .user_picture_overlay {
    display: flex;
}

.user_top_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 30px;

}

.user_row_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.user_top_text {
    color: var(--white);
    font-size: 30px;
    margin-left: 10px;
}

.user_product_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue-100);
    margin-bottom: 5px;
    margin-top: 5px;
}

.user_data {
    display: flex;
    flex-direction: column;
}


.user_data_fields {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    padding-right: 1em;
}

.user_data_wrappers {
    display: flex;
    flex-direction: row;
}

.user_data_text {
    color: var(--white);
    margin-bottom: 10px;
}

.user_data_input {
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: var(--blue-150);
    color: var(--white);
    font-size: 16px;
    height: 10px;
    padding: 10px;
    transition: background-color 0.5s ease;
    margin-bottom: 10px;
}

.user_data_input:focus {
    background-color: var(--blue-100);
    color: var(--grey-100)
}

.user_data_input_short {
    width: 80px;
}

.user_buttons {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.user_data_buttons {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    background-color: var(--blue-150);
    color: var(--white);
    cursor: pointer;
}

.product_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.product_component_wrapper {
    background-color: var(--blue-100);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 380px;
    margin: 10px;
}

.product_component_picture {
    width: 250px;
    height: 200px;
}

.product_component_details_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.product_component_text {
    color: var(--grey-100);
}

.product_name_brand {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 5px;
}

.product_component_name {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product_component_brand {
    font-size: 12px;
    margin-top: 5px;
}

.product_component_rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.product_component_rating_amount {
    margin-top: 4px;
    margin-left: 5px;
}

.product_component_stars {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.material-symbols-outlined.md-36 {
    font-size: 34px;
    margin: -5px;
}

.material-symbols-outlined.md-48 {
    font-size: 48px;
    margin: -5px;
    color: var(--white);
}

.star_filled {
    font-variation-settings:
        'FILL' 1,
        'wght' 50,
        'opsz' 10
}

.star_half {
    font-variation-settings:
        'wght' 50,
        'opsz' 10
}

.star_empty {
    font-variation-settings:
        'FILL' 0,
        'wght' 50,
        'opsz' 10
}

.product_component_price_stored {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.product_component_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
}

.product_component_button {
    background-color: var(--blue-150);
    color: var(--white);
    border: none;
    cursor: pointer;
}

.product_component_more_infos_button {
    padding-top: 5px;
    padding-bottom: 5px;
}

.product_component_more_infos_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.header_shopping_cart {
    display: none;
    position: fixed;
    margin-top: 70px;
    margin-right: 30px;
    right: 0;
    top: 0;
    background-color: var(--blue-150);
    padding: 10px;
    z-index: 1;
    flex-direction: column;
}

.cart_item {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    background-color: var(--blue-100);
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.cart_picture {
    height: 60px;
    width: 60px;
    margin-right: 5px;
}

.cart_name_brand {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    grid-column: 2;
    margin-right: 10px;
}

.cart_name {
    font-size: 16px;
}

.cart_brand {
    font-size: 12px;
}

.cart_price {
    margin-right: 10px;
}

.cart_delete_button {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-block;
}

.cart_line {
    border: none;
    height: 2px;
    background-color: var(--grey-100);
}

.cart_total_sum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 33px;
    color: var(--grey-100);
    margin-bottom: 20px;
}

.cart_sum_text {
    font-weight: bold;

}

.cart_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cart_button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    border: none;
    background-color: var(--blue-100);
    color: var(--grey-100);
    cursor: pointer;
}

.product_component_more_infos_button {
    display: inline-block;
    text-align: center;
    width: 100px;
}

.product_component_add_to_card {
    width: 56px;
}

.header_mobile_menu_wrapper {
    display: flex;
    flex-direction: column;
}

.header_mobile_menu_element {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 20px;
    height: 50px;
}

.header_mobile_menu_icon {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.header_mobile_menu_icon_text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_mobile_menu_line {
    width: 100%;
    height: 2px;
    background-color: var(--white);
    border: none;
}

.header_mobile_menu_text {
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
}

.checkout_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.checkout_wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.checkout_content_wrapper {
    display: flex;
    flex-direction: column;
}

.checkout_inputs_wrapper {
    display: flex;
    flex-direction: row;
}

.checkout_input_wrapper {
    display: flex;
    flex-direction: column;
}

.checkout_hr {
    width: 450px;
    background-color: var(--blue-100);
    border: none;
    height: 2px;
    margin-bottom: 20px;
}

.checkout_sum_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout_text {
    color: var(--white);
}

.checkout_big {
    font-size: 36px;
    margin-bottom: 10px;
}

.checkout_middle {
    font-size: 28px;
    margin-bottom: 20px;
}

.checkout_input_text {
    font-size: 18px;
    margin-bottom: 5px;
}

.checkout_input {
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: var(--blue-150);
    color: var(--white);
    font-size: 16px;
    height: 10px;
    padding: 10px;
    transition: background-color 0.5s ease;
    margin-right: 10px;
    margin-bottom: 10px;
}

.checkout_input:focus {
    background-color: var(--blue-100);
    color: var(--grey-100)
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.checkout_input[readonly] {
    cursor: not-allowed;
    background-color: var(--grey-100);
}

.checkout_short {
    width: 60px;
}

.checkout_shortest {
    width: 40px;
}

.checkout_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.checkout_button {
    background-color: var(--blue-150);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.checkout_button[disabled] {
    background-color: var(--grey-100);
    cursor: not-allowed;
}

.search_result_item {
    border: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: var(--blue-100);
    align-items: center;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}

.search_result_item:hover span {
    color: var(--white);
}

.search_result_picture {
    width: 60px;
    height: 60px;
}

.search_result_name_brand {
    display: flex;
    flex-direction: column;
}

.search_result_price_stock {
    display: flex;
    flex-direction: column;
}

.search_result_text {
    color: var(--grey-100);
}

.search_result_big {
    font-size: 18px;
    font-weight: bold;
}

.search_result_middle {
    font-size: 16px;
}

.admin_content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.admin_content_item {
    display: flex;
    flex-direction: column;
}

.admin_top_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.admin_top_text {
    color: var(--white);
    font-size: 36px;
    margin-left: 10px;
}

.admin_top_row_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.admin_icon {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.admin_hr {
    width: 100%;
    background-color: var(--blue-100);
    border: none;
    height: 2px;
}

.admin_item_content {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

.admin_product_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue-100);
    margin-bottom: 5px;
    margin-top: 5px;
}

.admin_item_part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.admin_product_item_picture {
    height: 80px;
    width: 80px;
    margin-right: 30px;
}

.admin_item_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    min-width: 200px;
}

.admin_item_text {
    color: var(--grey-100);
    max-width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.admin_item_text_top {
    margin-bottom: 10px;
}

.admin_item_icon {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-block;

}

.admin_show_button {
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

.admin_item_add_form {
    display: flex;
    flex-direction: column;
}

.admin_add_item_row {
    display: flex;
    flex-direction: row;
}

.admin_add_item_col {
    display: flex;
    flex-direction: column;
}

.admin_add_item_text {
    color: var(--white);
    font-size: 20px;
    margin-bottom: 10px;
}

.admin_add_item_input {
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: var(--blue-150);
    color: var(--white);
    font-size: 16px;
    height: 10px;
    padding: 10px;
    transition: background-color 0.5s ease;
    margin-right: 10px;
    margin-bottom: 10px;
}

.admin_add_item_input:focus {
    background-color: var(--blue-100);
    color: var(--grey-100)
}

.admin_add_item_input_small {
    width: 100px;
}

.admin_add_item_input_big {
    width: 500px;
    height: 200px;
    font-family: 'Inter var', sans-serif;
}

.admin_add_item_button {
    background-color: var(--blue-150);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.admin_add_item_buttons {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 10px;
}

.admin_add_user_select {
    width: 100px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: var(--blue-150);
    color: var(--white);
    font-size: 16px;
    padding: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.admin_add_user_select_option:hover {
    background-color: var(--white);
    color: var(--grey-100)
}

.admin_add_user_button {
    margin-right: 20px;
    margin-bottom: 20px;
}

.admin_money_chart_container {
    display: flex;
    flex-direction: column;
}

.admin_chart_title {
    color: var(--white);
    font-size: 24px;
    margin-bottom: 5px;
}

.admin_charts {
    width: 400px;
    height: 400px;
    background-color: var(--blue-100);
}

.admin_chart_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.single_product_wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;

}

.single_product_top_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.single_product_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.single_product_rating_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.single_product_user_rating_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.single_product_big_text {
    color: var(--white);
    font-size: 36px;
}

.single_product_text {
    color: var(--white);
    font-size: 24px;
}

.single_product_col {
    display: flex;
    flex-direction: column;
}

.single_product_button {
    background-color: var(--blue-150);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    width: 100px;
}

.single_product_stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px
}

.single_product_rating_form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.single_product_rating_stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

.star_filled_rating {
    font-variation-settings:
        'FILL' 1,
        'wght' 50,
        'opsz' 10
}

.star_empty_rating {
    font-variation-settings:
        'FILL' 0,
        'wght' 50,
        'opsz' 10
}

.single_product_comment_submit_button {
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-left: 30px;
}

.comment_wrapper {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
}

.comment_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.comment_user_picture {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.comment_bought {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment_check {
    height: 28px;
    width: 28px;
}

.comment_user_name {
    color: var(--white);
    font-size: 24px;
    margin-left: 30px;
    margin-right: 20px;
}

.comment_user_bought {
    color: var(--white);
    font-size: 18px;
    margin-right: 30px;
}

.comment_rating_stars {
    margin-right: 20px;
}

.comment_comment_text {
    margin-left: 90px;
    color: var(--white);
    font-size: 18px;
}

.comment_hr {
    background-color: var(--white);
    border: none;
    height: 2px;
}

#single_product_comment_submit {
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

#admin_item_id {
    display: none;
}

#single_product_picture {
    height: 300px;
    width: 300px;
    margin-right: 20px;
}

#single_product_user_picture {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

#single_product_comment_field {
    border: none;
    border-bottom: 2px solid var(--blue-100);
    outline: none;
    background-color: transparent;
    font-size: 24px;
    color: var(--white);
    padding-left: 5px;
    height: 20px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 1000px;
    font-size: 24px;
    padding-bottom: 5px;
}

#single_product_comment_field::placeholder {
    color: var(--white);
    font-size: 24px;
}

#admin_add_item_done {
    margin-bottom: 10px;
}

#header_mobile_menu {
    display: none;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--blue-150);
    z-index: 9998;
}

#cart_button_empty {
    margin-right: 5px;

}

#header {
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--blue-150);
}

#header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

#header_menu {
    display: none;
    cursor: pointer;
}

#header_back {
    display: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#header_icon {
    font-size: 30px;
    cursor: pointer;
}

#header_paper {
    font-weight: bold;
    color: var(--grey-100);
}

#header_solutions {
    font-weight: lighter;
    color: var(--white);
}

#header_searchbar {
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: var(--grey-50);
    color: var(--white);
    font-size: 20px;
    height: 35px;
    width: 500px;
    padding: 10px;
    transition: background-color 0.5s ease;
}

#header_searchbar::placeholder {
    color: var(--white);
}

#header_searchbar:focus::placeholder {
    color: var(--grey-100);
}

#header_searchbar:focus {
    background-color: var(--blue-100);
    color: var(--grey-100);
}

#header_searchbar::-webkit-search-cancel-button {
    color: var(--grey-100)
}

#header_searchbar::-ms-clear {
    color: var(--grey-100)
}

#header_logout_button {
    padding-right: 10px;
}

#header_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#header_user {
    width: 32px;
    height: 32px;
    background-color: #9db4c0;
}

#header_cart {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #9db4c0;
}

#header_admin {
    width: 32px;
    height: 32px;
    background-color: #9db4c0;
}

#header_search {
    display: none;
    cursor: pointer;
}

#login_form {
    display: none;
    position: fixed;
    margin: 70px;
    right: 0;
    top: 0;
    background-color: var(--blue-150);
    padding: 10px;
    z-index: 1;
    flex-direction: column;
}

#register_form {
    display: none;
    position: fixed;
    margin: 70px;
    right: 0;
    top: 0;
    background-color: var(--blue-150);
    padding: 10px;
    z-index: 1;
    flex-direction: column;
}

#header_search_result {
    position: fixed;
    margin-top: 70px;
    right: 27%;
    top: 0;
    width: 40%;
    background: var(--blue-150);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 600px;
    overflow: auto;
    overflow-y: scroll;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@media screen and (max-width: 1024px) {
    #header_searchbar {
        width: 400px;
    }

}

@media screen and (max-width: 992px) {
    #header_searchbar {
        display: flex;
        width: 300px;
    }
}

@media screen and (max-width: 768px) {
    #header_menu {
        display: block;
        width: 32px;
        height: 32px;
    }

    #header_searchbar {
        display: none;
    }

    #header_user {
        display: none;
    }

    #header_cart {
        display: none;
    }

    #header_admin {
        display: none;
    }

    #header_search {
        display: block;
        width: 32px;
        height: 32px;
    }

    #header_login_button {
        display: none;
    }

    #header_logout_button {
        display: none;
    }

    .middle_square {
        width: 100%;
    }

}